@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");
* {
  font-family: "Gabriela", serif;
}

#landing {
  min-height: 22rem;
  position: relative;
  align-items: end !important;
  padding: 2rem;
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  bottom: 0;
}
#landing * {
  z-index: 3;
}
#landing .input-group {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateY(75%) translateX(50%);
  width: 90%;
  min-width: 200px;
  max-width: 700px;
  border-radius: 99rem !important;
  border: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background-color: white;
}
#landing .input-group input {
  color: #FF9600 !important;
  background-color: transparent;
}
#landing .input-group input::placeholder {
  color: #FF9600;
}
#landing .input-group input:focus {
  border: none;
  box-shadow: none;
}
#landing .input-group * {
  border: none;
}
#landing .input-group button {
  color: #FF9600;
  padding: 0 2rem;
  border: none;
}
#landing .input-group button:hover {
  background-color: transparent;
  transform: scale(1.2);
}

nav.navbar {
  background-color: transparent !important;
  position: fixed !important;
  z-index: 9;
  width: 100%;
  top: 0;
}
nav.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
nav.navbar.scrolled button {
  color: black !important;
}
nav.navbar.scrolled .nav-link {
  color: black !important;
}
nav.navbar.scrolled .navbar-brand {
  filter: none !important;
}
nav.navbar .navbar-brand {
  color: #FF9600;
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.5));
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav.navbar button {
  color: #ffffff !important;
  font-size: 2rem;
  border: none;
}

#slogo {
  position: relative;
  background: -webkit-linear-gradient(#FF9600 60.06%, #A66B15 100.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4rem !important;
}
@media screen and (max-width: 576px) {
  #slogo {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 450px) {
  #slogo {
    font-size: 2.5rem !important;
  }
}

.card {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.card button {
  background-color: #FF9600;
  border: none;
  border-radius: 90rem;
}
.card button:hover {
  background-color: #e68700;
}

#offcanvasNavbar #offcanvasNavbarLabel {
  text-decoration: none;
  color: #FF9600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#offcanvasNavbar .nav-link.active {
  color: #FF9600 !important;
}
#offcanvasNavbar .nav-link {
  color: white;
}
#offcanvasNavbar .nav-link.side {
  color: rgba(0, 0, 0, 0.6);
}

.pagination {
  border-radius: 99rem;
  overflow: hidden;
  background-color: #F2F2F4 !important;
}
.pagination .active {
  color: black !important;
}
.pagination .disabled a {
  color: #FFDDB6 !important;
}
.pagination * {
  border: none;
  color: #FF9600 !important;
  cursor: pointer;
  background-color: #F2F2F4 !important;
}
.pagination *:hover {
  color: #e68700;
}

/*# sourceMappingURL=style.css.map */
